spring:
  datasource:
    # DB Local dùng thông tin cũ của bạn
    url: jdbc:postgresql://localhost:5432/user-access-management
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect