server:
  port: 8081

spring:
  application:
    name: auth-service
  profiles:
    active: dev

jwt:
  secret: IGtr+uHjE2NDtJR7x37IqqEFAG0oj4LAcWaQlcPAoSqW05g3MtQC3ZaQDKmSme/0X72eAuLPpNfVbBYdmAd23Q==
  expiration: 3600000