# --- Build & Dependency ---
.m2-temp/
**/target/
target/

# --- IDE Config (IntelliJ, Eclipse, VSCode) ---
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
*.sts
*.factorypath

# --- System Files ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
logs/

# --- SECRETS & ENV---
.env
*.env
.env.*

# --- Docker ---
postgres_data/

# --- Spring Boot ---
HELP.md