# Chặn tất cả thư mục target ở mọi ngóc ngách
.m2-temp/
**/target/
target/

# Chặn file cấu hình IDE (IntelliJ, Eclipse, VSCode)
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Chặn file hệ thống và file jar nói chung
.DS_Store
**/*.jar