server:
  port: 8082

spring:
  application:
    name: user-service
  profiles:
    active: dev

# JWT configuration (Phải khớp với auth-service)
jwt:
  secret: IGtr+uHjE2NDtJR7x37IqqEFAG0oj4LAcWaQlcPAoSqW05g3MtQC3ZaQDKmSme/0X72eAuLPpNfVbBYdmAd23Q==
  expiration: 3600000